<h1>Mad Products Yo</h1>

<%= link_to "Add New Product", new_product_path %>

<% @products.each do |product| %>

<ul>
 <li><%= product.name %></li>
 <li><%= product.formatted_price %></li>
 <li><%= product.description %></li>
</ul>

<% end %>
